apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: library-management-data
  name: library-management-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
